:root {
  --title-color: #000000;
  --main-color: #595959;
  --sidebar-color: #444444;
  --link-color: #1b1377;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #f5f7fa;
  margin: 100px 200px 200px 100px;
  box-sizing: border-box;
  
 }
a:any-link {
  text-decoration: none;
}
.main_section {
  display: flex;
  flex-direction: row-reverse;
  background-color: #FDF4E3;
  margin: 3px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main_contant_section {
  padding: 100px 90px;
  width: 60%;
}

.about_me_information {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.main_title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: var(--title-color);
  margin: 0 0 25px 0;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.code_section {
  margin: 0 0 50px 0;
}

.code {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.education_section,
.education_section_link,
.languages,
.contacts,
.tech_skills,
.soft_skills,
.tech_skills_link {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--sidebar-color);
}

.education_section_item,
.language_item,
.tech_skills_item,
.soft_skills_item {
  list-style-type: square;
}

.sidebar_section {
  background-color: #c8cdd3;
  width: 40%;
  padding: 40px 0;
}

.cv_img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.contacts,
.tech_skills,
.soft_skills {
  margin: 50px 0 0 40px;
}

.contact_detal {
  color: var(--main-color);
}
.contact_detal:hover,
.tech_skills_link:hover,
.education_section_link:hover {
  color: var(--link-color);
  font-weight: bold;
}
.contacts_list {
  list-style-type: none;
  padding-left: 3px;
  }

.contacts_item {
 font-weight: bold;
}

.tech_skills_list,
.soft_skills_list {
  padding: 0 0 0 18px;
  }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FDF4E3;
 }

.footer_date {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

/*.footer_github {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: var(--title-color);
}

.footer_rsschool {
  border: 20px;
  box-sizing: border-box; */
}